{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="main">
        <div class="container">
            <div class="row">
                    <div class="title span10">
                        <h3 class="pull-left">Evenements</h3>
                    </div><!-- end title -->
                </div>
            <div class="box-wrapper ">
                <div class="row" style="padding-bottom:1%; padding-top:1%;">
                    <div class="span12">
                        <a href="{{path('cci_community_base_form_redaction', {'type':'evt'})}}">
                            <div class="btn-blue-s5" style="border-radius:5px; text-align:center; margin:0; padding:5px; font-family:Arial; font-size:1.1em;">Ajouter un Element</div>
                        </a>
                    </div>
                </div>

                <div class="box-content-widget ">
                    
                    {% for evt in listeEvt %}
                    <div class="widget">
                        <div class="widget-content">
                            <div class="title">
                                <h3><a href="{{ path('cci_community_annonces_evenements_detail', {'id': evt.id})}}">{{ evt.titre }}</a></h3>
                                <div class="desc">
                                    Auteur : <a href="#">{{ evt.auteur }}</a> | Posted on: 
                                    <strong>{{ evt.date|date("d/m/Y") }}</strong> | 
                                    <a href="#">{{ evt.adresse }}</a>
                                </div>
                            </div>
                            <p class="ct-img"><a href="{{ path('cci_community_annonces_evenements_detail', {'id': evt.id}) }}"><img src="{{ evt.image }}"></a></p>
                            <p>{{ evt.texte }}</p>
                        </div>
                    </div><!-- widget -->
                    {% endfor %}
                </div><!-- box-content-widget -->
                
            </div>
        </div><!-- end container -->
    </div>

{% endblock %}