<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{asset("bundles/ccicommunitybase/css/bootstrap.min.css")}}">
	<link type="text/css" rel="stylesheet" href="{{asset("bundles/ccicommunitybase/css/global.css")}}">
	<link type="text/css" rel="stylesheet" href="{{asset("bundles/ccicommunitybase/css/color-button.css")}}">
	<!-- js Boots_from -->
	<script src="{{asset("bundles/ccicommunitybase/js/jquery.js")}}"></script>
        <script src="{{asset("bundles/ccicommunitybase/js/bootstrap.min.js")}}"></script>
        <script src="{{asset("bundles/ccicommunitybase/js/custom.js")}}"></script>
	<!-- end Boots_from -->
    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{path('cci_community_base_homepage')}}">
                        <span>CCI</span>&amp;<span class="cl-blue">Community</span>
                    </a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li><a href="{{path('cci_community_base_homepage')}}">Accueil</a></li>
                            <li><a href="{{path('cci_community_annonces_evenements_list')}}">Evenements</a></li>
                            <li><a href="{{path('cci_community_base_vdc_list')}}">Vie de classe</a></li>
                            <li><a href="{{path('cci_community_conseil_adresses_list')}}">Adresses</a></li>
                            <li><a href="{{path('cci_community_conseil_liensutiles_list')}}">Liens utiles</a></li>

                            <li class="divider-vertical"></li>

                            <li class="avatar_small"><a href="#"></a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    User user
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{path('cci_community_base_login')}}">
                                            <i class="icon-user"></i>
                                            Account Setting  </a>
                                    </li>
                                    <li>
                                        <a href="{{path('cci_community_base_profile')}}">
                                            <i class="icon-lock"></i> Change Password</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="login.html"><i class="icon-off"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block contenu %}{% endblock %}

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="span6 logo-vt">
                        <a class="brand" href="{{path('cci_community_base_homepage')}}">
                            <span>CCI</span>&amp;<span class="cl-blue">Community</span>
                        </a>
                        <span class="coppy_right">
                            <p>CAIP 13-15</p>
                            <p>@2014 All Rights Reserved. VPT !</p>
                        </span>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Contact</li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">About</a></li>
                            <li>84.903.197.895</li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-list">
                            <li><a href="http://www.bdsablog.com/?tag=cci-caux">Blog</li>
                            <li><a href="#">Regulation</a></li>
       
                        </ul>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Follow Us</li>
                            <li><a href="#"><i class="twitter"></i>Twitter</a></li>
                            <li><a href="https://fr-fr.facebook.com/ccicaux.formation.76"><i class="facebook"></i>Facebook</a></li>
                            <li><a href="http://www.ccicaux-formation.com/web/actualites.php"><i class="dd"></i>Site</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}


    </body>
</html>
