{# empty Twig template #}
{% extends "::layout.html.twig" %}

{% block contenu %}
<div class="main">

    <div class="container">
        <div class="row">
            <div class="box-wrapper span9">

                <div class="row">
                    <div class="box-content-widget span9">
                        <div class="row">
                            <div class="title bg-title span9">
                                <p><h3>
                                    <span class="title_torrent pull-left">Redaction d'une vie de classe</span>
                                    <span class="pull-right">05-05-2014</span>
                                </h3></p>
                            </div>
                        </div>
                        <div class="widget">
                            <form action="{{ path('cci_community_base_ajouter_vdc') }}" method="post" {{ form_enctype(form) }}>
                            {{ form_widget(form._token)}}
                            {% for champ in form %}
                            <div>
                              {# Génération du label. #}
                              {% if form_label(champ) != form_label(form._token) %}
                              {{ form_label(champ) }}
                              {% endif %}

                              {# Affichage des erreurs pour ce champ précis. #}
                              {{ form_errors(champ) }}

                              {# Génération de l'input. #}
                              {{ form_widget(champ) }}
                            </div>
                            {% endfor %}

                            </form>
                        </div><!-- widget -->
                    </div><!-- box-content-widget -->
                </div><!-- row -->
            </div><!-- end body-content -->

            <div class="sidebar-content span3">
                <div class="row">
                    <div class="box-wrapper span3">
                        <div class="row">
                            <div class="title bg-title span3">
                                <h3>Autres Articles</h3>
                            </div>
                        </div>
                        <ul class="thumbnails thumbnails-horizontal">
                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail_vdc.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/pj1.jpg">
                                    </div>
                                    <h5><a href="detail_vdc.html">Examen de Caml</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Examen de CamL</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>13</span>
                                    </p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail_vdc.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/pj2.jpg">
                                    </div>

                                    <h5><a href="detail_vdc.html">Sujet de BADO</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Sujet de BADO</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>5</span>
                                    </p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail_vdc.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/pj3.jpg">
                                    </div>

                                    <h5><a href="detail_vdc.html">Aide Java</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Aide Java</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>6</span>
                                    </p>
                                </div>
                            </li>
                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail_vdc.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/pj4.jpg">
                                    </div>

                                    <h5><a href="detail_vdc.html">Partage cours de Cisco</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Partage cours de Cisco</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>10</span>
                                    </p>
                                </div>
                            </li>

                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail_vdc.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/pj5.jpg">
                                    </div>

                                    <h5><a href="detail_vdc.html">Petit bonus CAR</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Petit bonus CAR</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>14</span>
                                    </p>
                                </div>
                            </li>

                            <li class="span3">
                                <div class="thumbnail border-radius-top">
                                    <div class="bg-thumbnail-img">
                                        <a class="overlay" href="detail_vdc.html">
                                            <img src="assets/img/icons/plus.png">
                                        </a>
                                        <img class="border-radius-top" src="assets/img/project/pj8.jpg">
                                    </div>

                                    <h5><a href="detail_vdc.html">Petit bonus CAR</a></h5>
                                </div>
                                <div class="box border-radius-bottom">
                                    <p>
                                        <span class="title_torrent pull-left">Projet Symphony CAIP</span>
                                        <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>8</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div><!-- end thumbnails-style1 -->
                </div><!-- row -->

            </div><!-- end sidebar-content -->
        </div><!-- row -->
    </div><!-- end container -->


</div>
{% endblock %}