{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="main">
       
        <div class="container">
             <div class="row">
                    <div class="title span10">
                        <h3 class="pull-left">Vie de classe</h3>
                    </div><!-- end title -->
                </div>
            
            <div class="box-wrapper ">
                <div class="row" style="padding-bottom:1%; padding-top:1%;">
                    <div class="span10">
<<<<<<< HEAD


                        <a href="{{path('cci_community_base_ajouter_vdc',{})}}">

=======
<<<<<<< HEAD
                        <a href="{{path('cci_community_base_ajouter_vdc')}}">
=======
<<<<<<< HEAD
                        <a href="{{path('cci_community_base_ajouter_vdc',{'type':'vdc'})}}">
=======
                        <a href="{{path('cci_community_base_ajouter_vdc',{})}}">
>>>>>>> 556262218e563135821359022204d31c8524bba4
>>>>>>> 5fd38a2935e33708aae08e8a2fae79318a9cee65
>>>>>>> 878a37bba54da3f13e5331ab45d192ae4e7706b8
                            <div class="btn-blue-s5" style="border-radius:5px; text-align:center; margin:0; padding:5px; font-family:Arial; font-size:1.1em;">Ajouter un Element</div>
                        </a>
                    </div>
                </div>
                <ul class="thumbnails thumbnails-vertical">
                    
                    {% for vdc in listeVDC %}
                    <li class="span5">
                        <div class="thumbnail border-radius-top">
                            <div class="bg-thumbnail-img">
                                <a style="display: none;" class="overlay">
                                    <img src="assets/img/icons/plus.png">
                                </a>
                                <img style="opacity: 1;" class="border-radius-top" src="{{ vdc.image }}">

                            </div>
                            <div class="thumbnail-content-left">
                                <h4>{{ vdc.titre }}</h4>
                                <p>
                                    <br>
                                    {{ vdc.texte }}
                                </p>
                            </div>
                        </div>
                        <div class="box border-radius-bottom">
                            <h6><a href="{{ path('cci_community_base_vdc_detail', {'id': 1}) }}">Lire le reste . . .</a></h6>
                        </div>
                    </li>
                   
                    {% endfor %}
                    
                </ul>
                {% include 'CCICommunityBaseBundle:Default:pagination.html.twig' %}
                {#<div class="navigation pagination pull-right">
                    <ul>
                        <li><a href="#">←</a></li>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">→</a></li>
                    </ul>
                </div><!-- end navigation -->#}
            </div><!-- end  -->

            <!-- **************** end All Flie  ****************** -->
        </div><!-- row -->
    </div>

{% endblock %}