{% extends "::layout.html.twig" %}

{% block contenu %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="title span10">
                    <h3 class="pull-left">Adresses</h3>
                </div><!-- end title -->
            </div>
            <div class="box-wrapper ">
                <div class="row" style="padding-bottom:1%; padding-top:1%;">
                    <div class="span12">
                        <a href="{{path('cci_community_conseil_adresses_form')}}">
                            <div class="btn-blue-s5" style="border-radius:5px; text-align:center; margin:0; padding:5px; font-family:Arial; font-size:1.1em;">Ajouter un Element</div>
                        </a>
                    </div>
                </div>
                <div class="box-content-widget ">
                    {% for Adresses in listeAdresses %}
                        <div class="widget">
                            <div class="widget-content">
                                <div class="title">
                                    <h3><a href="{{ path('cci_community_conseil_adresses_detail', {'id': Adresses.id }) }}">{{ Adresses.titre }}</a></h3>
                                    <div class="desc">
                                        Posted by: {{ Adresses.auteur }} | Posted on: 
                                        <strong>{{ vdc.date|date("d/m/Y") }}</strong> | 
                                        <!--<a href="blog.html">12 Comments</a>-->
                                    </div>
                                </div>
                                <p class="ct-img"><img src="assets/img/macdo.jpg"></a</p>
                                <p>{{ Adresses.texte }}</p>
                            </div>
                        </div><!-- widget -->
                    {% endfor %}
                </div><!-- box-content-widget -->
            </div>
        </div><!-- end container -->
    </div>
{% endblock %}